* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  width: 800px;
}

.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
}

.post__content {
  width: 70%;
}

.post-enter {
  transform: translateX(0px);
}

.post-enter-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}

.post-exit {
  opacity: 1;
}

.post-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}

.post__btns {
  display: flex;
  justify-content: space-around;
  width: 220px;
}

.err-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.pagination__wr {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin-top: 30px;
  margin-bottom: 40px;
}

.pagination__btn {
  width: 36px;
  height: 36px;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: teal;
  background-color: transparent;
  border: 1px solid teal;
  cursor: pointer;
}

.pagination__btn:hover {
  background-color: rgba(67, 178, 188, 0.4);
}

.pagination__btn--current {
  background-color: rgba(11, 225, 214, 0.529);
}

.nav {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 50px;
  padding: 0 15px;
  background-color: aliceblue;
}

.nav__item {
  margin-left: auto;
}

.not-found {
  margin: 50px auto;
  text-align: center;
}

.heading {
  margin: 10px 0;
}

.smile {
  font-size: 28px;
  margin: 0 15px;
}