.myBtn {
  width: 100px;
  padding: 5px 15px;
  color: teal;
  font-size: 14px;
  background-color: transparent;
  border: 1px solid teal;
  cursor: pointer;
}

.myBtn:hover {
  background-color: rgba(67, 178, 188, 0.4);
}

.myBtn:active {
  background-color: rgba(11, 225, 214, 0.529);
}